@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto:wght@400;700&display=swap");

:root {
  --font-sans: "Roboto", sans-serif;
  --font-monospace: "Roboto Mono", monospace;
  --black: #121212;
  --dark-gray: #565656;
  --medium-gray: #898989;
  --light-gray: #cfcfcf;
  --white: #ffffff;
  --green: #122c1f;
}

* {
  font-family: var(--font-sans);
  font-size: 16px;
  font-weight: 400;
}

span {
  font-weight: 700;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#content {
  margin-left: 0 auto;
  margin-right: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
}
.content-wrapper {
  width: 300px;
  color: var(--light-gray);
  background-color: var(--green);
}
