:root {
    --font-monospace: monospace;
    --font-sans: sans-serif;
    --font-serif: serif;
    --color-black: #121212;
    --color-lightgray: #ebebeb;
    --color-gray: #5a5a5a;
    --color-white: #ffffff;
}

* {
    font-family: var(--font-sans);
    font-size: 16px;
    font-weight: 400;
}
