@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto:wght@400;700&display=swap");

:root {
  --font-sans: "Roboto", sans-serif;
  --font-monospace: "Roboto Mono", monospace;
  --black: #111111;
  --dark-gray: #666666;
  --medium-gray: #999999;
  --light-gray: #cccccc;
  --white: #ffffff;
  --blue: #072559;
  --card-height: 500px;
  --card-width: 500px;
}

* {
  font-family: var(--font-sans);
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
}

span {
  font-weight: 700;
}
