:root {
    --header-height: 48px;
    --font-sans: "Roboto", sans-serif;
    --font-mono: "Roboto Mono", monospace;
    --font-serif: "Roboto Serif", serif;
    /* header colors */
    --color-navigation-bg: #161b22;
    --color-navigation-main: #f0f6fc;
    --color-navigation-hover: #ffffffb3;
    /* main page colors */
    --color-content-bg: #0d1117;
    --color-content-main: #c9d1d9;
    --color-content-hover: #8b949e;
    --color-content-blue: #58a6ff;
    --color-buser-pink: #f11075;
    --color-python-blue: #3572a5;
    --color-css-purple: #563d7c;
    --color-html-red: #e34c26;
    --color-sql-orange: #e38c00;
    --color-js-yellow: #f1e05a;
    --color-rust-brown: #dea584;
    --color-shell-green: #89e051;
    --color-django-green: #153c2a;
    --color-node-green: #478b43;
}

html,
body {
    scroll-behavior: smooth;
}

* {
    font-family: var(--font-sans);
    font-size: 16px;
    font-weight: 400;
}

.first-page {
    padding-top: var(--header-height);
    height: calc(100vh - var(--header-height));
    width: 100vw;
}

.page {
    height: 100vh;
    width: 100vw;
}

.last-page {
    height: 33vh;
    width: 100vw;
}

.container {
    padding: 0 24px;
    max-width: 1200px;
    margin: 0 auto;
}

.top-navigation {
    position: fixed;
    height: var(--header-height);
}
