:root {
    --font-monospace: "Roboto Mono", monospace;
    --font-sans: "Roboto", sans-serif;
    --font-serif: "Roboto Serif", serif;
    --color-black: #121212;
    --color-gray: #5a5a5a;
    --color-lightgray: #ebebeb;
    --color-white: #ffffff;
    --color-pink: #f11075;
    --color-blue: #326891;
}

html,
body {
    scroll-behavior: smooth;
}

* {
    font-family: var(--font-sans);
    font-size: 16px;
    font-weight: 400;
}
