:root {
    --header-height: 48px;
    --font-sans: "Rubik", sans-serif;
    /* header colors */
    --color-navigation-bg: #161b22;
    --color-navigation-main: #f0f6fc;
    --color-navigation-hover: #ffffffb3;
    /* main page colors */
    --color-content-bg: #0d1117;
    --color-content-main: #c9d1d9;
    --color-content-hover: #8b949e;
    --color-link-blue: #58a6ff;
    --color-buser-primary: #f11075;
    --color-buser-secondary: #5c306e;
    /* decoration colors */
    --color-shell-green: #89e051;
    --color-html-red: #e34c26;
    --color-css-purple: #563d7c;
    --color-sql-orange: #e38c00;
    --color-python-blue: #3572a5;
    --color-js-yellow: #f1e05a;
    --color-rust-brown: #dea584;
    --color-django-green: #153c2a;
    --color-node-green: #478b43;
    --color-docker-blue: #2397ed;
}

head {
    display: none;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-content-bg);
    color: var(--color-content-main);
}

* {
    font-family: var(--font-sans);
    font-size: 16px;
    font-weight: 400;
}

ul {
    list-style-type: "\ - ";
    padding-left: 1.75rem;
}

a {
    font-weight: 700;
    color: var(--color-link-blue);
    text-decoration: none;
}

li::marker {
    color: var(--color-content-main);
}

.landing-page {
    padding-top: var(--header-height);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.last-page {
    height: 35vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 700px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
}

.navigation-wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-navigation-bg);
    min-height: var(--header-height);
    height: var(--header-height);
    width: 100%;
}

.top-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-navigation-main);
}

.apresentacao-wrapper {
    display: flex;
    flex-direction: column;
}

.wrapper-ola {
    font-size: 4rem;
    font-weight: 700;
    line-height: 100%;
}

.wrapper-ola:hover {
    color: var(--color-content-hover);
}

.wrapper-nome {
    font-size: 1.25rem;
}

.wrapper-nome > span {
    font-size: inherit;
    font-weight: 700;
}

.wrapper-sou > strong {
    font-size: inherit;
    font-weight: 700;
}

.wrapper-buserlink {
    color: var(--color-buser-primary);
}

.wrapper-buserlink > span {
    color: var(--color-buser-secondary);
    font-weight: inherit;
}
